.list{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}
.item{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    /* background-color: rgb(133, 106, 65); */
    background-color: #b1c9ef;
}